:root {
  --font-text: 1.5rem;
  --font-size-logo: 40px;
  --color-font: white;
  --color-green: #bac964;
  --color-orange1: #ff7f00;
  --color-orange2: #ffa500;
  --color-orange: #e05216;
  --bg-principal: #000;
  --bg-secondary: #333333;
  --bg-menuNav: white;
  --bg-menuNav2: #333333;
  --bg-topBar1: #c7bebe;
}
.topbar {
  width: 100%;
  height: 70px;
  background-color: var(--bg-principal);
  color: var(--color-font);
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
}

.wrapper {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/** ************************* Topbar côté gauche **************************/
.tb-left {
  display: flex;
  align-items: center;
}
.itemContainer {
  display: flex;
  align-items: center;
  margin-left: 30px;
  color: var(--color-font);
}
.logo {
  font-size: var(--font-size-logo);
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  /* margin-right: 40px; */
  text-shadow: -2px 4px 1px #767474;
}
.logo:hover {
  color: var(--color-font);
  font-weight: 900;
}

.tb-icon {
  font-size: 18px;
  margin-right: 5px;
}
.tb-imgRj {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.itemContainer span {
  font-size: 15px;
  font-weight: 500;
}

/** ************************* Topbar côté droit **************************/
.tb-right {
  display: flex;
  align-items: center;
  color: var(--color-font);
}

.tb-mrigth {
  margin-right: 30px;
}
.hamburguer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 32px;
  height: 25px;
}

.hamburguer span {
  width: 100%;
  height: 3px;
  background-color: var(--color-font);
  transform-origin: left;
  transition: all 2s ease;
}

.active {
  background-color: var(--bg-topBar1);
  color: var(--color-orange1);
}

.active .itemContainer {
  color: #333333;
}
.active .hamburguer > span:first-child {
  background-color: #fff;
  transform: rotate(45deg);
}
.active .hamburguer > span:nth-child(2) {
  opacity: 0;
}
.active .hamburguer > span:last-child {
  background-color: #fff;
  transform: rotate(-45deg);
}
