:root {
  --font-text: 1.5rem;
  --font-size-logo: 40px;
  --color-font: white;
  --color-green: #bac964;
  --color-orange: #ffa500;
  --bg-principal: #000;
  --bg-secondary: #333333;
  --bg-menuNav: white;
  --bg-menuNav2: #333333;
  --color-font2: #464646;
}
.works {
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
  background-color: var(--bg-principal);
  color: var(--color-font);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.work-arrowLeft {
  color: #fff;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 100px;
  cursor: pointer;
}
.work-arrowRight {
  color: #fff;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 100px;
  cursor: pointer;
}
.works .slider {
  height: 350px;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease-out;
}

.works .slider .container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.works .slider .container .item {
  width: 700px;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.works .slider .container .item .left {
  flex: 4;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.works .slider .container .item .left .leftContainer {
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.works .slider .container .item .left .leftContainer .imgContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.works .slider .container .item .left .leftContainer .imgContainer img {
  width: 25px;
}

.works .slider .container .item .left .leftContainer h2 {
  font-size: 20px;
  color: var(--color-font2);
}

.works .slider .container .item .left .leftContainer p {
  font-size: 13px;
  color: var(--color-font2);
}

.works .slider .container .item .left .leftContainer span {
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-font2);
  
}

.works .slider .container .item .left .leftContainer span .veilleTech {
 color: inherit;
  }
  .works .slider .container .item .left .leftContainer span .veilleTech:hover {
    color: var(--color-orange);
     }

.works .slider .container .item .right {
  flex: 8;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.works .slider .container .item .right img {
  width: 400px;
  transform: rotate(-10deg);
}
